body {
  background-color: #a55050;
}
h1,
h2 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}
h1 {
  font-size: 48px;
}
li {
  display: inline-block;
  margin: 0 20px 0 20px;
}
a {
  font-size: 36px;
  color: #ffffff;
}
header li {
  margin: 0 10px;
}
footer a {
  font-size: 64px;
}
header li:first-of-type {
  margin-left: 0;
}
main section img {
  margin-left: 1.5%;
}
label {
  color: #ffffff;
}
